<div class="todo-content">
    <h1 class="page-title">Add Todos Tasks</h1>
    <div class="todo-create">
<form #todoForm="ngForm" (ngSubmit)="create(todoForm)" noValidate>
<input type="text" id="taskDescription" class="form-control" placeholder="Enter the task description and press add"
required name="taskDescription" [(ngModel)]="todoTask.taskDescription"
#taskDescription="ngModel"/>
<div *ngIf="taskDescription.errors && taskDescription.dirty"
class="alert alert-danger">
<div [hidden]="!taskDescription.errors.required">
  task description is required.
</div>
</div>
<button type="submit">ADD</button>
</form>
</div>
<ul class="todo-list">
    <li *ngFor="let todoTask of todoTasks" [class.completed]="todoTask.pending === false" >
      <div class="todo-row" >
          <a class="todo-completed" (click)="toggleCompleted(todoTask)">
            <i class="material-icons toggle-completed-checkbox"></i> 
          </a> 
          <span class="todo-title">
            {{todoTask.taskDescription}}
          </span>
          <span class="todo-actions">
              <a (click)="deleteTodoTask(todoTask)">
                <i class="material-icons delete">clear</i>
              </a>
          </span>
</div>
</li>
</ul>
<div class="no-todos" *ngIf="todoTasks && todoTasks.length == 0">
    <p>No Todo tasks Found!</p>
</div>